.sharecontainer {
    background-color: #F2FBFF;
    border-radius: 3px;
    width: 100%;
    padding: 1rem;
}

.skillcontainer {
    background-color: #F2FBFF;
    border-radius: 3px;
    width: 100%;
    padding: 1rem;
}