.Jobfilter {
    width: 100%;
}

.filterWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.filterWrapper > * {
    padding: 0 16px 0 16px;
}

.searchHeading {
    margin-top: 0;
}

.jobs {
    align-items: stretch;
}
.date_location_wrapper {
    margin: 30px 0px 0px auto;
    font-style: italic;
    margin-left: auto;
    display:flex;
    flex-direction: column;
}
.ratingWrapper {
    padding: 0;
    gap: 8px;
}
.wrapper {
    margin: 0 8px 0 8px;
    padding: 16px;
    position: sticky;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12); /*, 0 2px 4px rgba(0, 0, 0, 0.24)*/
    z-index: 2;
}