.profilecard {
    border-radius: 5px;
    border-style: none;
    background-color: #F2FBFF;
    text-align: center;
    padding: 5px;
}

.profilecard-key {
    float: left;
}

.profilecard-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.profilecard-value {
    float: right;
    color: #888888;
    margin-left: auto;
}

.profilecard-bulletpoint {
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.5rem;
    border-bottom-color: #E2F6FF;
}

.lcation-icon {
    color: #888888;
    width: 1rem;
    height: 1rem;
    margin-top: 10px;
}

.profilecard-location-label {
    color: #888888;
    margin-top: 10px;
    margin-left: 5px;
    font-size: small;
}

.profiletitle {
    font-size: large;
    font-weight: bolder;
    margin-bottom: 5px;
    line-height: 1.5rem;
}

.profilecard-image {
    border-radius: 100%;
}
